<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
    <body>
        <nav class="navbar navbar-expand-sm">
            <a href="{{ url_for('index') }}">Index</a>
              <img class="logo navbar-brand" src="../assets/home.png"/>
            </a>
            
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="./activities.html"> Activities </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Leaderboard </a>
                </li>
              </ul>
            </div>
          </nav>
        
        <script src="" async defer></script>
    </body>
</html>